@import "./tailwind.css";
@import './base.css';

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
  .bg-subtle-gradient {
    --un-gradient-shape: to right;
    --tw-gradient-stops: var(--tw-gradient-from), transparent 40%, transparent 60%, var(--tw-gradient-to);
    --un-gradient: var(--un-gradient-shape), var(--tw-gradient-stops);
    background-image: linear-gradient(var(--un-gradient));
  }
  [med=''], [det='']{
    display: none;
  }
  .med_details [med=''] {
    display: block;
  }
  .more_details [med=''], .more_details [det='']{
    display: block;
  }
  button-block {
    @apply py-2 flex justify-between;
  }
  .med_details ic-check, .med_details ic-war, .med_details ic-knowledge, 
  .med_details ic-society, .med_details ic-shadow, .med_details ic-mystics, 
  .med_details ic-nature, .med_details ic-easier, .med_details ic-harder, 
  .med_details ic-melee, .med_details ic-ranged, .med_details ic-defence, 
  .med_details ic-turn, .med_details ic-attack  {
    display: inline;
    padding-left: 1.2em;
    background-position-x: 0em;
  }
  ic-check, ic-war, ic-knowledge, ic-society, ic-shadow,
    ic-mystics, ic-nature, ic-easier, ic-harder, ic-attack,
    ic-melee, ic-ranged, ic-defence, ic-turn {
    content: "";
    display: inline;
    padding-left: 1em;
    background-size: 1em;
    background-position-y: 50%;
    background-position-x: 0em ;
    background-repeat: no-repeat;
    height: 1em;
  }
  ic-check {
    background-image: url(/img/icons/check.svg);
  }
  .med_details ic-check:after {
    content: "Проверка";
  }
  .med_details ic-war:after {
    content: "Конфликт";
  }
  .med_details ic-knowledge:after {
    content: "Порядок";
  }
  .med_details ic-society:after {
    content: "Влияние";
  }
  .med_details ic-shadow:after {
    content: "Коварство";
  }
  .med_details ic-mystics:after {
    content: "Хаос";
  }
  .med_details ic-nature:after {
    content: "Поиск";
  }
  .med_details ic-easier:after {
    content: "Легче";
  }
  .med_details ic-harder:after {
    content: "Сложнее";
  }
  .med_details ic-attack:after {
    content: "Атака";
  }
  .med_details ic-melee:after {
    content: "Ближний бой";
  }
  .med_details ic-ranged:after {
    content: "Дальний бой";
  }
  .med_details ic-defence:after {
    content: "Защита";
  }
  .med_details ic-turn:after {
    content: "В ход";
  }
  ic-easier {
    background-image: url(/img/icons/easier.svg);
  }
  ic-harder {
    background-image: url(/img/icons/harder.svg);
  }
  ic-war {
    background-image: url(/img/icons/war.svg);
  }
  ic-nature {
    background-image: url(/img/icons/nature.svg);
  }
  ic-knowledge {
    background-image: url(/img/icons/knowledge.svg);
  }
  ic-shadow {
    background-image: url(/img/icons/shadow.svg);
  }
  ic-mystics {
    background-image: url(/img/icons/mystics.svg);
  }
  ic-society {
    background-image: url(/img/icons/society.svg);
  }
  ic-turn {
    background-image: url(/img/icons/turn.svg);
  }
  ic-attack {
    background-image: url(/img/icons/attack.svg);
  }
  ic-ranged {
    background-image: url(/img/icons/ranged.svg);
  }
  ic-melee {
    background-image: url(/img/icons/melee.svg);
  }
  ic-defence {
    background-image: url(/img/icons/defence.svg);
  }
  trait-block li, trait-info {
    @apply text-xl text-white;
  }
  trait-block li p, trait-info p {
    @apply text-base text-[--color-text];
  }
  trait-block li::marker {
    @apply text-base;
  }
  .med_details trait-block li, .more_details trait-block li {
    @apply text-base;
  }
  ul li{
    list-style: disc;
    margin-left: 1em;
  }
}

#app {
  @apply block p-2 min-h-[100vh] text-gray-300/80;
}


tip {
  @apply inline-block text-xs;
}

input[type='checkbox']+span.w-9.h-5:after {
  @apply w-4 h-4;
}

span[war=""], span.war {
  @apply bg-red-800 text-white font-bold px-1 rounded-md;
}
span[society=""], span.society {
  @apply bg-yellow-600 text-white font-bold px-1 rounded-md;
}
span[shadow=""], span.shadow {
  @apply bg-gray-600 text-white font-bold px-1 rounded-md;
}
span[nature=""], span.nature {
  @apply bg-green-800 text-white font-bold px-1 rounded-md;
}
span[knowledge=""], span.knowledge {
  @apply bg-blue-800 text-white font-bold px-1 rounded-md;
}
span[mystics=""], span.mystics {
  @apply bg-purple-600 text-white font-bold px-1 rounded-md;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
}
#app {
  height: 100vh;
  padding: 0;
  margin: 0;
}
main-content {
  @apply px-2  bg-slate-800 ;
  min-height: 100vh;
}
#dice-canvas {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(0, 0, 0, 0.7);
  transition: all .3s;
  @apply right-2 left-2 rounded-t-lg rounded-b-none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    
  }

  #app {
  }
}
